/*  */
/* Selecciona todos los elementos */
* {
    margin: 0;/* Elimina los espacios alrededor de los elementos. */
    padding: 0;/* Elimina los espacios dentro de los elementos. */
    box-sizing: border-box;/* Asegura que el tamaño del elemento incluya el borde y el relleno (padding), para que todo quede ajustado. */
    font-family: Arial, sans-serif;
}

/* Cuerpo principal (BODY) */
body {
    background-color: transparent;
}

/* Estilo del menú */
.menu {
    font-size: 30px; /* Aumentar tamaño para visibilidad */
    background-color: transparent; /* Fondo oscuro para destacar */
    color: #fff;
    padding: 10px;
    border-radius: 5px;
}
open
/*  */
/* DIV clase container (Contenedor principal) */
.container {
    max-width: 400px;/* El contenedor no será más ancho de 400 píxeles. */
    margin: 0 auto;/* Centra el contenedor horizontalmente en la pantalla. */
    background-color: #ffffff;/*  */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);/* Le da una sombra suave alrededor del contenedor, lo que hace que parezca "levantado" del fondo. */
    border-radius: 8px;/* Redondea las esquinas del contenedor. */
    overflow: hidden;/* Evita que los elementos dentro del contenedor se salgan de él. */
    position: relative; /* position: relative; y z-index: 1;: Son propiedades que aseguran que el contenedor esté por encima de otros elementos (como el menú). */
    z-index: 1; 
}


/* Cabecera del sitio (header) */
header {
    background-color: #14274a; /* La cabecera tiene un fondo azul oscuro. */
    color: white; /* El texto dentro de la cabecera es blanco. */
    padding: 15px; /* Añade espacio dentro de la cabecera. */
    display: flex; /* Hace que los elementos dentro del header (el logo y el menú) se organicen horizontalmente. */
    justify-content: center;/* Coloca el logo a la izquierda y el icono del menú a la derecha. */
    align-items: center; /* Centra los elementos verticalmente. */
    position: relative;
}


/* LOGO */
.logo {
    width: 80px; /*  El logo tiene un ancho fijo de 120 píxeles. */
    margin: 0 auto;
}


/* Menú lateral */
.sidebar {
    height: 100%; /* El menú ocupará toda la altura de la pantalla. */
    width: 0; /* El ancho del menú lateral es inicialmente 0 (oculto). */
    position: fixed; /* Cambiado a fixed para que se superponga */
    z-index: 1000; /* Asegurar que esté encima del resto del contenido */
    top: 0; /* Posiciona el menú en la esquina superior izquierda. */
    left: 0; /* Posiciona el menú en la esquina superior izquierda. */
    background-color: #14274a; /* El menú es de color azul oscuro. */
    overflow-x: hidden; /* Evita que el menú se desplace horizontalmente. */
    transition: width 0.5s ease; /* Hace que el ancho del menú cambie suavemente cuando se abre o cierra. */
    padding-top: 60px; 
    
}

/*  */
.sidebar a {
    padding: 8px 8px 8px 32px; 
    text-decoration: none;/* Elimina el subrayado de los enlaces. */
    font-size: 15px; /* El tamaño de la fuente de los enlaces es de 20 píxeles. */
    color: white; /* Color de texto */
    display: block; /* Hace que los enlaces ocupen toda la línea. */
    transition: 0.3s; 
}

.sidebar a:hover {
    color: #f1f1f1; /* Cambiar el color al pasar el mouse */
}

.sidebar .close-btn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Ajuste para el botón de abrir menú */
.menu-icon {
    position: relative;
    font-size: 24px; /* tamaño del icono del menú */
    cursor: pointer; /* Cambia el cursor al estilo "mano" cuando pasas por encima del icono. */
    color: white; 
    padding: 10px; /* Añade espacio alrededor del icono. */
}


.container {
    transition: margin-left 0.5s; /* Suaviza el movimiento del contenido */
}

/* Estilo para cuando el menú esté abierto */
.container.menu-open {
    margin-left: 250px; /* Mover el contenido hacia la derecha cuando el menú esté abierto */
}

/* MAIN */
.main {
    padding: 20px; /* Añade 20 píxeles de espacio dentro del contenido principal para que no esté pegado al borde. */
} /*  */

/* SECTION TITLE */
.section-title {
    color: #14274a;
    background-color: #f4f4f4; /*  */
    padding: 10px; /* Espacio interno alrededor del texto del título. */
    display: flex; /* Hace que los elementos dentro del título se distribuyan horizontalmente. */
     /* Coloca el texto de la izquierda y el ícono de la derecha. */
    align-items: center; /* Alinea el texto e íconos en el centro vertical. */
    border-bottom: 1px solid #ccc; /* Añade una línea gris debajo del título para separarlo del resto del contenido. */
    cursor: pointer; /* Cambia el cursor a una mano, indicando que el título es interactivo */
    margin-bottom: 10px;
}

/* Texto dentro de SECTION TITLE */
.section-title span {
    padding-left: 3%;
    font-size: 18px; /* El texto dentro de los títulos de las secciones es de 18 píxeles. */
    font-weight: bold; /* El texto es negrita */
}

/*  */
/* icono de añadir */
.add-icon {
    padding-top: 0%;
}

.icono_buscar_botones {
    margin-right: 7px; /* Ajusta el valor para aumentar o disminuir el espacio */
}


.small-text {
    font-size: 14px; /* Ajusta el tamaño según necesites */
}

/* Barra de búsqueda */
.search-bar {
    display: flex; /* Hace que los elementos dentro de la barra de búsqueda se coloquen uno al lado del otro (el campo de texto y el botón de búsqueda) */
    padding: 15px; /* Añade espacio interno a la barra de búsqueda. */
    border-bottom: 1px solid #ccc; /* Añade una línea gris debajo de la barra para separarla del resto del contenido. */
}

/* Campo de texto dentro de la barra de búsqueda */
.search-bar input {
    flex: 1; /* Hace que el campo de texto ocupe la mayor parte del espacio disponible. */
    padding: 10px; /* Añade espacio interno dentro del campo de texto. */
    border: 1px solid #ccc; /* Añade un borde gris claro alrededor del campo de texto. */
    border-radius: 4px; /* Redondea ligeramente las esquinas del campo de texto. */
    margin-right: 10px; /* Añade un pequeño espacio entre el campo de texto y el botón de búsqueda. */
}

 /* Botón de búsqueda */
.search-button {
    background-color: #e2a30e;  /* El color fondo del botón */
    border: none;  /* El botón no tiene borde visible. */
    padding: 10px;  /* Añade espacio interno dentro del botón. */
    border-radius: 4px;  /* Redondea ligeramente las esquinas del botón. */
    cursor: pointer;  /* Cambia el cursor a una mano al pasar por encima del botón, indicando que es interactivo. */
}

 /* Lista de áreas */
.area-list {
    list-style: none; /* Elimina los puntos de la lista */
    padding: 15px; /* Añade espacio interno */
}

/* Elementos Lista de áreas */
.area-list li {
    margin-bottom: 10px; /* Añade espacio entre los elementos de la lista. */
    font-size: 14px; /* Tamaño del texto dentro de la lista */
    color: black;
    font-weight: bold;
}

/*  */

.area-list input {
    margin-right: 10px;
}

input[type="radio"] {
    accent-color: #14274a /* Cambia el color del círculo cuando está seleccionado */
}

/* Selección de fechas */
.select-dates .dropdown {
    padding: 15px;  /* Añade espacio interno */
    border-bottom: 1px solid #ccc;  /*  Añade una línea gris claro debajo de cada selección. */
    font-size: 16px;    /* Tamaño del texto */
    cursor: pointer;    /* Cambio a mano para indicar que es interactivo */
    background-color: #f9f9f9;  /* Color del fondo */
}


/*  */
.select-dates .dropdown:last-child {
    border-bottom: none;
}

.search-container {
    text-align: center;
    margin: 20px 0;
}

/* Botón de búsqueda de resultados */
.search-results-button {
    background-color: #002f6c;  /* fondo azul oscuro. */
    color: white;   /* Texto color */
    padding: 8px 12px; /*  Añade espacio interno al botón, con más espacio a los lados que arriba/abajo. */
    border: none;   /* El botón no tiene un borde visible. */
    border-radius: 6px; /* Redondea las esquinas del boton */
    cursor: pointer;    /* Cambia el cursor a una mano para indicar que se puede hacer clic. */
    font-size: 18px;    /* Tamaño del texto */
}

/*  */
/* Resultados de la búsqueda */
.results-section {
    display: none; /* Inicialmente, la sección de resultados no se muestra. */
    padding: 15px; /* Añade espacio interno cuando se muestre */
}

.day-results {
    margin-bottom: 20px;
}

/*  */

.time-buttons {
    display: flex; 
    flex-wrap: wrap; 
}

/* Botones de selección de horarios */
.time-button {
    padding: 10px 15px; /* Añade espacio interno al botón, con más espacio horizontal que vertical. */
    margin: 5px;    /* Añade espacio alrededor de cada botón. */
    border: none;   /* El botón no tiene borde. */
    border-radius: 4px;   /* Redondea las esquinas del botón. */  
    cursor: pointer;    /* Cambia el cursor a una mano para indicar que se puede hacer clic. */
    font-size: 14px; /* Tamaño del texto */
}

/* BOTONES DE DISPONIBILIDAD */

/* Los botones disponibles */
.time-button.available {
    background-color: #4caf50;
    color: white;
}

/* Los botones no disponibles */
.time-button.not-available {
    background-color: #f44336;
    color: white;
}

/* Mensaje de confirmación */
.confirmation-section {
    display: none; /* Inicialmente, esta sección no se muestra. */
    text-align: center; /* El contenido dentro de la sección está centrado. */
    padding: 20px; /* Añade espacio interno. */
} 

/*  */
/* Mensaje de confirmación */
.confirmation-message {
    background-color: #e0c076;
    padding: 15px;
    border-radius: 4px;
}

.confirmation-message h2 {
    margin-bottom: 10px;
}

.confirmation-message p {
    font-size: 16px;
}
